{% extends 'core/base.html' %}
{% load static from staticfiles %}

{% block pagetitle %}Blood Bank{% endblock pagetitle %}

{% block extra-css %}
<style>
.content-wrapper, .main-footer {
  margin-left: 0;
}
</style>
{% endblock extra-css %}

{% block left-sidebar %}{% endblock %}

{% block main-content %}
              
       <div class="row" id="app">
         
           <div class="col-md-8">
               <div class="panel panel-success">
                   <div class="panel-heading">
                       <div class="panel-title-box">
                           <h3>Welcome {{user.username}}</h3>
                           <span>
                               {% if login %}
                               <small class="text-info">You last logged in {{login|timesince}} ago</small>
                               {% else %}
                               <small class="text-info">First timer, are you?</small>
                               {% endif %}
                            </span>
                       </div>
                   </div>
                   <div class="panel-body">
                       <div class="panel panel-default tabs">
                           <ul class="nav nav-tabs" role="tablist">
                               <li class="active"><a href="#tab-first" role="tab" data-toggle="tab"><i class="fa fa-money"></i> My Transactions</a></li>
                               <li><a href="#tab-second" role="tab" data-toggle="tab"><i class="fa fa-trophy"></i> Lichess</a></li>
                               <li><a href="#tab-fourth" role="tab" data-toggle="tab"><i class="fa fa-pencil-square-o"></i> Pay for Lessons</a></li>
                           </ul>
                           <div class="panel-body tab-content">
                               <div class="tab-pane active" id="tab-first">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr class="success">
                                                    <th>Type</th>
                                                    <th>Amount</th>
                                                    <th>When</th>
                                                    <th>Balance</th>
                                                    <th>Processed?</th>
                                                    <th>Comment</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="transaction in transactions">
                                                    <td><span v-text="transaction.kind"></span></td>
                                                    <td>&#8358; <span v-text="transaction.amount"></span></td>
                                                    <td><span v-text="transaction.when"></span></td>
                                                    <td>&#8358; <span v-text="transaction.balance"></span></td>
                                                    <td>
                                                        <div v-if="transaction.processed"><i class="fa fa-check-circle text-green"></i></div>
                                                    </td>
                                                    <td><span v-text="transaction.comment"></span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                               </div>
                                <div class="tab-pane" id="tab-second">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="panel panel-default">
                                                <form @submit.prevent="saveGame()">
                                                    <div class="panel-heading">
                                                        <h3>Add Game</h3>
                                                    </div>
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group col-md-4">
                                                                    <input v-model="game.white" v-validate="'required'" data-vv-validate-on="none" class="form-control" placeholder="White">
                                                                    <p v-show="errors.has('white')" class="text-red">[errors.first('white')]</p>
                                                                </div>
                                                                <div class="form-group col-md-4">
                                                                    <input v-model="game.black" v-validate="'required'" data-vv-validate-on="none" class="form-control" placeholder="Black">
                                                                    <p v-show="errors.has('black')" class="text-red">[errors.first('black')]</p>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <button type="submit" class="btn btn-success btn-full btn-block"><i class="fa fa-paper-plane"></i> Add</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                        <div class="col-md-12 table-responsive">
                                             <table class="table table-bordered table-hover">
                                                <thead>
                                                    <tr class="success">
                                                        <th>When</th>
                                                        <th>White</th>
                                                        <th>Black</th>
                                                        <th>Score</th>
                                                        <th> </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="gm in games">
                                                        <td><span v-text="gm.when"></span></td>
                                                        <td><span v-text="gm.white"></span></td>
                                                        <td><span v-text="gm.black"></span></td>
                                                        <td><span v-text="gm.white_score"></span> : <span v-text="gm.black_score"></span></td>
                                                        <td><button @click="getResult(gm)" class="btn btn-danger">get result</button></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                               </div>

                               <div class="tab-pane" id="tab-fourth">
                                   <div class="row">
                                       <div class="col-md-12">
                                           <div class="panel panel-default">
                                            <form @submit.prevent="pay()">
                                                <div class="panel-heading">
                                                    <h3>Transfer Money</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <select v-model="payment.recipient" v-validate="'required'" data-vv-validate-on="none" class="form-control">
                                                                    <option v-for="acct in accounts" :value="acct.id">[acct.name] ([acct.email])</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <input v-model="payment.amount" v-validate="'required|decimal'" data-vv-validate-on="none" type="number" class="form-control" name="amount" placeholder="Amount to Send (&#8358;)"/>
                                                                <p v-show="errors.has('amount')" class="text-red">[errors.first('amount')]</p>
                                                            </div>
                                                                
                                                        </div>
                                                      
                                                    </div>
                                                </div>
                                                <div class="panel-footer">
                                                    <div class="row">
                                                        <div class="col-md-3"></div>
                                                        <div class="col-md-6">
                                                            <button v-show="uploading == false" type="submit" class="btn btn-success btn-full btn-block full">
                                                                <i class="fa fa-paper-plane"></i> Send
                                                            </button>
                                                            <button v-show="uploading == true" disabled type="submit" class="btn btn-grey btn-full btn-block full">
                                                                <i class="fa fa-hourglass"></i> Sending...
                                                            </button>
                                                        </div>
                                                        <div class="col-md-3"></div>
                                                    </div>
                                                </div>
                                            </form>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
             <div class="col-md-4">
               <div class="panel panel-success">
                   <div class="panel-heading">
                       <div class="panel-title-box"><h3><span v-text="profile.name"></span></h3>
                       <span class="text-info"><small>Account information</small></span>
                       </div>
                   </div>
                   <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tr>
                                    <td>Phone</td>
                                    <td><span v-text="profile.phone"></span></td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td><span v-text="profile.email"></span></td>
                                </tr>
                                <tr>
                                    <td>Balance</td>
                                    <td>&#8358; <span v-text="profile.balance"></span></td>
                                </tr>
                                <tr>
                                    <td>Member since</td>
                                    <td><span v-text="profile.regdate"></span></td>
                                </tr>
                            </table>
                        </div>
                   </div>
                   
               </div>
             
           </div>

</div>
 <!-- PAGE CONTENT WRAPPER -->

 
{% endblock main-content %}                             
            
      
   
	
	{% block extra-js %}
    <script type="text/javascript" src="{% static 'js/vue.js' %}"></script>
    <script src="https://unpkg.com/vue-resource@1.3.1/dist/vue-resource.min.js"></script>
    <script src="https://cdn.jsdelivr.net/vee-validate/2.0.0-rc.3/vee-validate.min.js"></script>
    <script>
        
        $(function() {
            $('#id_expiry').datepicker({
                format: "yyyy-mm-dd",
                autoclose: true
            });
        })

        Vue.http.options.emulateJSON = true;
        Vue.use(VeeValidate);

        var vm = new Vue({
            el: "#app",
            delimiters: ["[","]"],
            data: {
                profile: {},
                accounts: [],
                transactions: [],
                game: {
                    white: '',
                    black: ''
                },
                games: [],
                payment: {
                    recipient: '',
                    amount: ''
                },
                stock: [],
                upload: {
                    generic_name: '',
                    brand_name: '',
                    strength: '',
                    manufacturer: '',
                    batch_number: '',
                    expiry_date: '',
                    quantity: '',
                    pack_size: '',
                    unit_cost: ''
                },
                search_term: '',
                search_result: [],
                search_detail: {},
                show_save: false,
                saved_drugs: [],
                qty_item: {},
                qty_value: 0,
                uploading: false
            },
            mounted: function() {
                console.log('vue initialized');
                this.getProfile();
                //this.getStock();
                //this.getSavedDrugs();
            },
            methods: {
                getProfile() {
                    let url = '/account/profile/';
                    this.$http.get(url).then((response) => {
                        console.log(response.body);
                        this.profile = response.body.profile;
                        this.accounts = response.body.accounts;
                        this.transactions = response.body.transactions;
                        this.games = response.body.games;
                    });
                },
                saveGame() {
                    console.log(this.game);
                    if (!this.game.white) {
                        alertify.error('Please enter the lichess name of the white player');
                        return;
                    }
                    if (!this.game.black) {
                        alertify.error('Please enter the lichess name of the black player');
                        return;
                    }
                    let url = '/account/save_game/';
                    this.$http.post(url, this.game).then((response) => {
                        console.log(response.body);
                        alertify.success('successfully sent');
                        this.games = response.body.games;
                    })
                },
                getResult(gm) {
                    console.log(gm);
                    let url = '/account/get_result/' + gm.id + '/';
                    this.$http.get(url).then((response) => {
                        console.log(response.body);
                        let game = this.games.filter((item) => item.id == gm.id);
                    })
                },
                pay () {
                    console.log(this.payment);
                    this.$validator.validateAll().then((data) => {
                        console.log(data);
                        if (!this.payment.amount) {
                            alertify.error('Please enter the amount to send');
                            return;
                        } else {
                            let amt = parseInt(this.payment.amount);
                            if (amt > this.profile.balance) {
                                alertify.error("You don't have enough balance to send this amount");
                                return;
                            }
                            this.uploading = true;
                            let url = '/account/pay/';
                            this.$http.post(url, this.payment).then((response) => {
                                console.log(response.body);
                                alertify.success('Successfully sent!');
                                this.uploading = false;
                                this.profile = response.body.profile;
                                this.transactions = response.body.transactions;
                                this.payment = {
                                    amount: '',
                                    recipient: ''
                                };
                            }, err => {
                                alertify.error('Sorry, something terrible happened while I was posting the transaction, please contact support');
                                this.uploading = false;
                            });
                        }
                    })
                }
            }
        });
    </script>

    <script type="text/javascript">
      $('.modal_trigger').click(function(e){
          e.preventDefault();
          //var id = $(this).attr('id').substr(7);
          var url = $(this).attr('data-item');
          //console.log('modal ' + $(this).attr('id').substr(7));
          $('#close_action').attr('href', url);
          $('#modal_basic').modal();
      });
    </script>
	   
	{% endblock extra-js %}