{% extends "core/alt_base.html" %}
{% load staticfiles %}

{% block breadcrumb %}
<li class="active">Sign In</li>
{% endblock breadcrumb %}

{% block page-header %}
  Login
{% endblock page-header %}

{% block main-content %}
<div class="login-box">
  <div class="login-logo">
  
  <span class="logo-lg">Blood Bank
  </span>
    
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to Blood Bank</p>

    <form action="" method="post">{% csrf_token %}
    {% if form.non_field_errors %}
    	{% for error in form.non_field_errors %}
    		<div class="alert alert-danger">
    			{{ error }}
    		</div>
    	{% endfor %}
    {% endif %}
      <div class="form-group has-feedback">
      	{% if form.username.errors %}
      		<div class="alert alert-danger">
      			{{ form.username.errors }}
      		</div>
        <!-- <input type="password" class="form-control" placeholder="Password"> -->
        {% endif %}
        {{ form.username }}
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>

      <div class="form-group has-feedback">
      	{% if form.password.errors %}
      		<div class="alert alert-danger">
      			{{ form.password.errors }}
      		</div>
        <!-- <input type="password" class="form-control" placeholder="Password"> -->
        {% endif %}
        {{ form.password }}
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <!-- <input type="checkbox"> Remember Me -->
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="">
        	<button type="submit" class="btn btn-block btn-danger btn-flat"><i class="fa fa-sign-in"></i> Sign In</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <!-- /.social-auth-links -->
    <div class="row">
    <p>I can't remember my password <a href="{% url 'forgot_password' %}">Reset password</a></p>
    <p>I don't have an account <a href="{% url 'register' %}">Register</a></p>
    </div>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

{% endblock main-content %}


{% block extra-js %}
<script>
  $('#id_username').attr('placeholder', 'Email');
  $('#id_username').addClass('form-control');

  $('#id_password').attr('placeholder', 'Password');
  $('#id_password').addClass('form-control');
  </script>
{% endblock extra-js %}
