{% load staticfiles %}
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Chess Club | {% block title %}{% endblock title %}</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  {% block css %}
  <!-- Kilimanjaro icon -->
  <link rel="icon" type="image/x-icon" href="" />
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'css/AdminLTE.min.css' %}">
  <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
        page. However, you can choose any other skin. Make sure you
        apply the skin class to the body tag so the changes take effect.
  -->
  <link rel="stylesheet" href="{% static 'css/skins/skin-red-light.css' %}">
  <!-- Jquery ui -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  {% endblock css %}

  {% block extra-css %}
  
  {% endblock extra-css %}

  {% block top-js %}
  {% endblock top-js %}
  
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-red-light sidebar-mini">
  
<div class="wrapper">


  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <a href="{% url 'home' %}" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>Chess</b>Club</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">
      <img class="img-responsive" style="margin-left: auto; margin-right: auto;
    display: block;" src="{% static 'img/bb_logo.png' %}" alt=""> </span>
      
    
    </a>

    <!-- Header Navbar -->
    
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
          {% if user.is_authenticated %}
          {% comment %}
          <ul class="nav navbar-nav">
            <li id="home-nav-menu" class="active"><a href="{% url 'home' %}"><i class="fa fa-home"></i> <span>Home</span></a></li>
            <li id="order-nav-menu"><a href=""><i class="fa fa-book"></i><span>Reports</span></a></li>
            <li id="new_order-nav-menu"><a href=""><i class="fa fa-plus"></i><span>New Order</span></a></li>
            <li class="dropdown" id="account-nav-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Accounts <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href=""><i class="fa fa-truck"> Driver</i></a></li>
                <li class="divider"></li>
                <li><a href=""><i class="fa fa-user"> User</i></a></li>
              </ul>
            </li>
          </ul>
          {% endcomment %}
          {% endif %}
        </div>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

          <!-- Messages: style can be found in dropdown.less-->
          <li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-warning">{% if notice_count %}{{notice_count}}{% endif %}</span>
            </a>
            {% if notice_count %}
            <ul class="dropdown-menu">
              <li class="header">You have {{ notice_count }} message{{notices|pluralize}}</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  {% for m in notices %}
                    <li>
                      <a href="{% url 'message_detail' id=m.id %}">
                        <p>
                          <span class="pull-left">{{m.title}}</span>
                          <small class="pull-right"><i class="fa fa-clock-o"></i>
                          {{ m.when|timesince}} ago
                          </small>
                        </p>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
              <li class="footer"><a href="">See All Messages</a></li>
            </ul>
            {% endif %}
          </li>

{% comment %}
          <!-- Notifications Menu -->
          <li class="dropdown notifications-menu">
            <!-- Menu toggle button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header"> notifications</li>
              <li>
                <!-- Inner Menu: contains the notifications -->
                <ul class="menu">
                  <li><!-- start notification -->
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5 new members joined today
                    </a>
                  </li>
                  <!-- end notification -->
                </ul>
              </li>
              <li class="footer"><a href="#">View all</a></li>
            </ul>
          </li>
          {% endcomment %}
        
          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              <img src="{% static 'img/avatar.png' %}" class="user-image" alt="User Image">
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">
                {% if user.is_authenticated %}
                {{user.username}}
                {% else %}
                Guest
                {% endif %}
              </span>
              <ul class="dropdown-menu">
                <li class="user-header">test</li>
              </ul>
            </a>
           
          </li>
          <!-- Control Sidebar Toggle Button -->
          
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="true">
              <i class="fa fa-user"></i>
            </a>

            <ul class="dropdown-menu" role="menu">
              {% if user.is_authenticated %}
              <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Sign Out</a></li>
              {% else %}
              <li><a href=""><i class="fa fa-sign-in"></i> Sign In</a></li>
              {% endif %}
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  {% block left-sidebar %}
  <aside class="main-sidebar">
    <section class="sidebar">
      {% block left-sidebar-content %}
      
      {% endblock left-sidebar-content %}
    </section>
  </aside>
  {% endblock %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {% block page-header %}
        Blood Bank
        {% endblock page-header %}
        <small>
          {% block page-header-description %}
          Welcome
          {% endblock page-header-description %}
        </small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{% url 'home' %}"><i class="fa fa-dashboard"></i> Home</a></li>
        {% block breadcrumb %}
        <li class="active">Welcome</li>
        {% endblock breadcrumb %}
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
       {% if messages %}
            <div class="login-box1" style=" text-align: center;">
                <div class="x_panel">
                  {% for message in messages %}
                  <div class="alert alert-{% if message.tags == 'error' %}danger{% elif message.tags == 'success' %}success{% endif %} alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
                    <strong>{{message}}</strong>
                  </div>
                  {% endfor %}
                </div>
              </div>
     {% endif %}
      {% block main-content %}
      
      {% endblock main-content %}

      <!-- Your Page Content Here -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      Africa Chess
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2017 <a href="#">Africa Chess</a>.</strong> All rights reserved.
  </footer>

</div>
<!-- ./wrapper -->

{% block js %}

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.2.3 -->
<script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<!-- Alertify -->
<script src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/alertify.js"></script>

<!-- AdminLTE App -->
<script src="{% static 'js/app.min.js' %}"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. Slimscroll is required when using the
     fixed layout. -->
{% endblock js %}

{% block extra-js %}

{% endblock extra-js %}
</body>
</html>
